# macOS
.DS_Store

# Xcode - user-specific
xcuserdata/
*.xcuserstate
*.xcuserdatad/

# Xcode - build artifacts
build/
DerivedData/
*.xcworkspace/xcuserdata/
*.xcodeproj/project.xcworkspace/xcuserdata/
*.xcodeproj/xcuserdata/

# Swift Package Manager
.build/
.swiftpm/
Packages/
Package.resolved

# CocoaPods (nếu dùng sau này)
Pods/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots/**/*.png
fastlane/test_output
